<html>
<head>
<title>Pending Request Follow Up</title>
</head>
<body bgcolor="#eeeeee">
<table width="645" align="center" cellpadding="0" cellspacing="0" b=
order="0">
<tr>
<td colspan="3" bgcolor="#666666"><img src="http://www.respond.=
com/images/spacer.gif" width="1" height="1" alt="" border="0"></td>
</tr>
<tr valign="top">
<td width="1" bgcolor="#666666"><img src="http://www.respond.co=
m/images/spacer.gif" width="1" height="1" alt="" border="0"></td>
<td bgcolor="#ffffff">
<table width="643" cellpadding="0" cellspacing="0" border==
"0">

<tr>
<td>
<table width="100%" border="0" bgcolor="#336699" ce=
llpadding="0" cellspacing="0">
<tr>
<td width="100%">
<p style="margin-left: 5px; margin-right: 5px;=
"><strong><span style="font-family: Verdana;"><font size="5" color="#=
ffffff"><font size="4" face="Verdana">Request Verification Required...</font><br />
</font></span></strong></p>
</td>
</tr>
</table>
</td>
</tr>
<tr valign="top">
<td>
<table width="100%" cellpadding="4" cellspacing="0"=
 border="0">
<tr>
<td><p><font face="arial,helvetica,sans-serif" size="2" color="#000000">Dear <%= @user.first_name %>: </font></p>
  <p><font face="arial,helvetica,sans-serif" size="2" color="#000000">We  have received your request for  <b>Financial Advisors</b> (Lead Request: <b>#<%= @user.id %></b>). We have been able to match your request to businesses that would be interested in providing you a quote for this project; however, we have been unable to contact you to verify your contact information and interest in pursuing the Financial Advisors services. </font></p>
  <p><font face="arial,helvetica,sans-serif" size="2" color="#000000"> Please either call us at 888-735-9553; or <%= link_to "click here to either confirm or update your contact information.", edit_user_path(@user.id, :hash => @user.hashstr,:only_path => false,:host => "search.investmentprotectionbureau.org")  %><br>
  <p><font face="arial,helvetica,sans-serif" size="2" color="#000000">
                                                                  Please refer to Request #<%= @user.id %> when calling.
   <br/><br/>After your contact information has been verified you will be matched to quality local businesses.</font></p>
<p><font face='arial,helvetica,sans-serif' size='2' color='#000000'>Sincerely,
                </font><br><font face='arial,helvetica,sans-serif' size='2' color='#000000'>
                Buyer Verification Team</font><br><font face='arial,helvetica,sans-serif' size='2'=20
                color='#000000'>888-735-9553</font>
<br>
<font face="arial,helvetica,sans-serif" size="2" color="#000000">Hours of Operation: M-F 8:30 to 9:30PM & Sa-Su 10:00 - 7:00PM</font>
</td>
</tr>
</table>
</td>
</tr>
<tr>
<td>
                <hr color="#E6E6E6" width="90%">
<center><font face="arial,helvetica,sans-serif" color=
="#000000" size="2">Investment Protection Bureau - All Rights Reserved.<br>Investmentprotectionbureau.org Mailing Address: Pinellas Park, FL 33781, 6251 Park Blvd, Ste 7<br>Questions?  You can reach Investmentprotectionbureau.org at 888-735-9553 Monday &#45; Friday 8AM to 6PM (EST)<br>Copyright 1999 - 2013, Investmentprotectionbureau.org<br></font></center>
</td>
</tr>
<td width="5"><img src="http://www.respond.com/images/spacer.gif" width="5" height="1" alt="" border="0"></td>
</tr>
<tr valign="top">
<td><img src="http://www.respond.com/images/spacer.gif" width="1" height="8" alt="" border="0"></td>
</tr>
</table>
</td>
<td width="1" bgcolor="#666666"><img src="http://www.respond.com/images/spacer.gif" width="1" height="1" alt="" border="0"></td>
</tr>
<tr>
<td colspan="3" bgcolor="#666666"><img src="http://www.respond.com/images/spacer.gif" width="1" height="1" alt="" border="0"></td>
</tr>
<tr>
<td colspan="3"><img src="http://www.respond.com/images/spacer.gif" width="1" height="10" alt="" border="0"></td>
</tr>

<tr>
<td colspan="3" align="right"></td>
</tr>
</table>
</body>
</html>