<div>
  <h1>New adviser №<%= @adviser.id %> is registered!</h1>
  <h3>Info for Adviser Account №<%= @adviser.adviser_user.id %>: </h3>
  <p>Adviser Account Email: <%= @adviser.adviser_user.email %></p>
  <p>Adviser page is <%= link_to 'here', @link %></p>
</div>