<div style='min-height:100px'>
<h1>Verification request</h1>
<p>
				<div id="s5_breadcrumb_top_menu_wrap" class="s5_wrap">
		<div id="s5_breadcrumb_top_menu_wrap_inner">
							<div id="s5_breadcrumb_wrap">
							<div class="moduletable">


<div class="custom"  >
	<p style="padding-top: 5px; padding-bottom: 5px; font-family: Tahoma, Helvetica, Arial, sans-serif; background-color: #fdfdfd;">&nbsp;<span>
In order for us to verify your identiy please fill in the form below and one the agent at the Investment Protection Bureau will contact you within 48 hours. Please feel free to email <a href='mailto:advisors@investmentprotectionbureau.org'>advisors@investmentprotectionbureau.org</a> for any questions or concerns you may have.</span></p>

</div>
		</div>

				</div>
									<div style="clear:both;"></div>
		</div>
		</div>
		<div style="clear:both;"></div>

	<div style="clear:both; height:0px"></div>
	</div>

<%= render 'form' %><br />

<%= link_to 'Back', verifications_path, :class => 'custom_button' %>
<div>
