
body {
    background: none repeat scroll 0 0 #6699CC;
    color: #000000;
    font: 12px/16px Arial,Helvetica,sans-serif;
    margin: 0 auto;
    padding: 0;
    width: 990px;
}
form, p, ul, li, ol, h1, h2, h3, h4, label {
    margin: 0;
    padding: 0;
}
a {
    position: relative;
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
}
.clear {
    clear: both;
}
.fl {
    float: left;
    width: auto;
}
.fr {
    float: right;
    width: auto;
}
.steps {
    padding-left: 30px;
}
.al_c {
    text-align: center;
}
.al_r {
    text-align: right;
}
#main_container {
    margin: 0 auto;
    padding: 16px 0;
    position: relative;
    width: 990px;
}
#header {
    background: url("/assets/maket/header_bar_rpt.gif") repeat-x scroll 0 0 transparent;
    height: 88px;
    padding: 0;
    position: relative;
}
.domain_text {
    font-size: 20px;
    font-weight: normal;
    line-height: 140%;
    padding-left: 50px;
    padding-top: 10px;
}
.logo {
    float: left;
    padding: 0 30px 0 18px;
}
.search_box {
    background: url("/assets/maket/header_wt_box_left.gif") no-repeat scroll 0 0 #FFFFFF;
    float: left;
    height: 65px;
    left: 252px;
    padding: 0 0 0 10px;
    position: absolute;
    top: 12px;
    width: 713px;
}
.search_innerbox {
    float: left;
    font-size: 13px;
    line-height: 19px;
    padding: 4px 0 0;
    width: 306px;
}
.search_innerbox span {
    color: #5A5A5A;
    font-size: 11px;
}
.search_innerbox input {
    border: 1px solid #B2B2B2;
    color: #000000;
    font-size: 13px;
    font-weight: bold;
    height: 22px;
    padding: 7px 0 0 7px;
    width: 283px;
}
.search_btn {
    float: left;
    position: absolute;
    right: 19px;
    top: 23px;
}
.toplink_box {
    color: #666666;
    float: right;
    font-size: 11px;
    font-weight: bold;
    padding: 6px 10px 0 0;
    position: relative;
    width: 158px;
}
.toplink_box a {
    color: #666666;
    text-decoration: none;
}
.toplink_box a:hover {
    text-decoration: underline;
}
#navigations_dir {
    clear: both;
    padding: 10px 0 0;
    width: 990px;
}
#navigations {
    background: url("/assets/maket/navi_rpt.gif") repeat-x scroll 0 10px transparent;
    clear: both;
    height: 30px;
    padding: 10px 0 0;
    width: 990px;
}
#navigations ul {
    background: url("/assets/maket/navi_left.gif") no-repeat scroll 0 0 transparent;
    float: left;
}
#navigations ul li {
    border-right: 1px solid #FFFFFF;
    color: #000000;
    float: left;
    list-style: none outside none;
    position: relative;
    width: 246px;
}
#navigations ul li a {
    color: #000000;
    display: block;
    float: left;
    font-size: 105%;
    font-weight: bold;
    line-height: 30px;
    padding: 0 30px;
    text-align: center;
    text-decoration: none;
    width: 185px;
}
#navigations ul li a:hover, #navigations ul li a.active {
    color: #FFFFFF;
}
#navigations .nav_rt_curve {
    background: url("/assets/maket/navi_right.gif") no-repeat scroll right 0 transparent;
    height: 30px;
}
#main_body {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    margin: 0 auto;
    padding: 10px 0;
    width: 988px;
}
h1.heading {
    border-bottom: 1px solid #CCCCCC;
    color: #2D2D2D;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding: 0 0 11px;
    text-align: center;
}
h1.page_heading {
    border-bottom: 1px solid #CCCCCC;
    color: #2D2D2D;
    font-size: 22px;
    line-height: 110%;
    margin: 0 auto;
    padding: 10px 0;
    width: 960px;
}
h1.page_heading2 {
    border-bottom: 1px solid #CCCCCC;
    color: #2D2D2D;
    font-size: 22px;
    line-height: 110%;
    margin: 0 auto;
    padding: 0 0 10px;
    width: 100%;
}
.how_it_work {
    border-bottom: 1px solid #CCCCCC;
    height: 39px;
}
.how_it_work h2 {
    background: url("/assets/maket/yellow_arrow.gif") no-repeat scroll right 0 #FFCC33;
    color: #110E07;
    float: left;
    font-size: 18px;
    height: 39px;
    line-height: 39px;
    margin: 0;
    text-align: center;
    width: 244px;
}
#left_colom {
    color: #333333;
    float: left;
    padding: 14px 0 0 11px;
    width: 230px;
}
#left_colom h2 {
    background: none repeat scroll 0 0 #FFCC33;
    color: #000000;
    font-size: 13px;
    line-height: 33px;
    margin: 0;
    padding: 0 0 0 30px;
}
#left_colom .side_nav_box {
    border-bottom: 1px solid #DEDEDE;
    border-left: 1px solid #DEDEDE;
    border-right: 1px solid #DEDEDE;
    padding: 8px 0;
    width: 228px;
}
.side_nav {
    margin: 0 auto;
    width: 170px;
}
.side_nav li {
    background: url("/assets/maket/side_bullet.gif") no-repeat scroll right 11px transparent;
    border-bottom: 1px solid #9DBAC8;
    display: block;
    list-style: none outside none;
    margin: 0;
    padding: 6px 20px 5px 0;
}
.side_nav li a {
    color: #000000;
    font-size: 13px;
    text-decoration: none;
}
.side_nav li a:hover, .side_nav li a.active {
    color: #057BAD;
    text-decoration: none;
}
.misc_link a {
    color: #057BAD;
}
#browse_cat {
    float: left;
    padding: 14px 0 0 26px;
    width: 960px;
}
#browse_cat .service_boxes {
    background: url("/assets/maket/heading_gr.gif") repeat-x scroll 0 0 transparent;
    float: left;
    margin-right: 10px;
    padding-left: 20px;
    position: relative;
    width: 46%;
}
#browse_cat .service_boxes h2 {
    font-size: 12px;
    line-height: 27px;
    margin: 0;
    padding: 0 0 0 14px;
    text-transform: uppercase;
}
#browse_cat .service_boxes a {
    color: #057BAD;
    font-size: 11px;
    text-decoration: underline;
}
#browse_cat .service_boxes a:hover {
    text-decoration: none;
}
#right_colom {
    float: left;
    padding: 14px 0 0 26px;
    width: 715px;
}
#right_colom .service_boxes {
    background: url("/assets/maket/heading_gr.gif") repeat-x scroll 0 0 transparent;
    border: 1px solid #CECCCC;
    float: left;
    height: 150px;
    margin-right: 10px;
    position: relative;
    width: 343px;
}
#right_colom .service_boxes h2 {
    font-size: 12px;
    line-height: 27px;
    margin: 0;
    padding: 0 0 0 14px;
    text-transform: uppercase;
}
#right_colom .service_boxes .thumb_img {
    float: left;
    padding: 10px 10px 0;
}
#right_colom .service_boxes a {
    color: #057BAD;
    font-size: 11px;
    text-decoration: underline;
}
#right_colom .service_boxes a:hover {
    text-decoration: none;
}
.browse_link {
    clear: both;
    padding: 0 10px 10px 0;
}
.browse_link a {
    background: url("/assets/maket/bullet2.gif") no-repeat scroll right 5px transparent;
    color: #07709C;
    float: right;
    font-size: 11px;
    padding: 0 12px 0 0;
}
.ser_box_seprator {
    clear: both;
    height: 10px;
}
.content_box {
    border: 1px solid #CCCCCC;
    padding: 0;
    width: 702px;
}
.content_box h2 {
    background: none repeat scroll 0 0 #FFCC33;
    color: #000000;
    font-size: 13px;
    line-height: 33px;
    margin: 0;
    padding: 0 0 0 15px;
}
.content_box_inner {
    float: left;
    font-size: 11px;
    line-height: 15px;
    padding: 15px 0 15px 15px;
    width: 296px;
}
.content_box_inner2 {
    float: left;
    font-size: 11px;
    line-height: 14px;
    padding: 15px 0;
    width: 296px;
}
.content_box_inner h3, .content_box_inner2 h3 {
    color: #000000;
    font-size: 12px;
    margin: 0;
    padding: 0 0 10px;
}
.cont_seprator {
    float: left;
    padding: 15px 0 0;
    text-align: center;
    width: 57px;
}
#footer {
    border-top: 1px solid #CCCCCC;
    color: #000000;
    font-size: 11px;
    margin: 0 auto;
    padding: 25px 8px 5px;
    width: 964px;
}
.copyright_text {
    color: #B5AEA8;
    float: left;
}
#footer a {
    color: #000000;
    padding: 0 1px;
    text-decoration: none;
}
#footer a:hover {
    text-decoration: underline;
}
.design_by {
    color: #B5AEA8;
    font-size: 10px;
    padding: 11px 0 8px;
}
#article_sidebox {
    border-right: 1px solid #CCCCCC;
}
#article_sidebox h2 {
    background: none repeat scroll 0 0 transparent;
    border-bottom: 1px solid #D1D1D1;
    color: #006699;
    font-size: 15px;
    line-height: 25px;
    margin: 0;
    padding: 0;
}
#article_sidebox .sponser_link {
    height: auto;
}
#article_sidebox2 {
}
#article_sidebox2 h3 {
    background: none repeat scroll 0 0 transparent;
    border-bottom: 1px solid #D1D1D1;
    color: #006699;
    font-size: 15px;
    line-height: 25px;
    margin: 0;
    padding: 0;
}
#article_sidebox2 .sponser_link {
    height: auto;
}
.photo_ads {
    padding: 10px 0 0;
}
.photo_ads li {
    background: url("/assets/maket/bullet3.gif") no-repeat scroll 0 8px transparent;
    list-style: none outside none;
    padding: 0 0 8px 16px;
}
.photo_ads li a {
    color: #035984;
    text-decoration: underline;
}
.photo_ads li a:hover {
    text-decoration: none;
}
#middle_colom {
    float: left;
    padding: 14px 0 0 26px;
    width: 440px;
}
#middle_colom .service_boxes {
    background: url("/assets/maket/heading_gr.gif") repeat-x scroll 0 0 transparent;
    border: 1px solid #CECCCC;
    float: left;
    height: 143px;
    margin-right: 10px;
    position: relative;
    width: 333px;
}
#middle_colom h2 {
    color: #006699;
    font-size: 15px;
    line-height: 20px;
    margin: 0;
    padding: 0 0 12px;
}
#middle_colom h3 {
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    padding: 0 0 12px;
}
#middle_colom h3 span {
    font-weight: normal;
}
#middle_colom p {
    line-height: 20px;
}
.numbering {
    list-style: decimal outside none;
    padding: 20px 0 0 10px;
}
.numbering li {
    padding: 0 0 15px;
}
#right_colom_inner {
    float: right;
    padding: 14px 12px 0 0;
    width: 240px;
}
#right_colom_inner h2 {
    background: none repeat scroll 0 0 #FFCC66;
    color: #191919;
    font-size: 13px;
    line-height: 33px;
    margin: 0;
    padding: 0 0 0 30px;
}
#right_colom_inner .side_nav_box {
    background: none repeat scroll 0 0 #F1F1F1;
    border-bottom: 1px solid #DEDEDE;
    border-left: 1px solid #DEDEDE;
    border-right: 1px solid #DEDEDE;
    padding: 8px 0;
    width: 238px;
}
#right_colom_inner .side_nav {
    margin: 0 auto;
    width: 192px;
}
#right_colom_inner .side_nav li {
    background: url("/assets/maket/side_bullet.gif") no-repeat scroll right 11px transparent;
    border-bottom: 1px solid #9DBAC8;
    display: block;
    list-style: none outside none;
    margin: 0;
    padding: 6px 0 5px;
}
#right_colom_inner .side_nav li a {
    color: #000000;
    font-size: 13px;
    text-decoration: none;
}
#right_colom_inner .side_nav li a:hover, .side_nav li a.active {
    color: #057BAD;
    text-decoration: none;
}
#right_colom_inner .qm_form {
    margin: 0 auto;
    width: 205px;
}
#right_colom_inner .qm_form label {
    clear: both;
    display: block;
    margin: 0;
    padding: 7px 0 2px;
}
.inner_cont {
    float: right;
    padding: 0 25px 0 29px;
}
.inner_cont h1 {
    border-bottom: 1px groove #3E2C0F;
    color: #981418;
    font: 18px/26px Verdana,Arial,Helvetica,sans-serif;
    margin: 0;
    padding: 0 0 10px;
}
.inner_cont p {
    margin: 0;
    padding: 9px 0;
}
.img_border {
    border: 1px solid #CCCCCC;
    float: right;
    margin-left: 10px;
}
.page_path {
    color: #057AA7;
    padding: 5px 0 5px 10px;
}
.page_path a {
    color: #000000;
    padding: 0 5px;
    text-decoration: none;
}
.page_path a:hover {
    text-decoration: underline;
}
.scroll_cont {
    border: 1px solid #CCCCCC;
    color: #A39D9B;
    height: 239px;
    padding: 10px;
    width: 178px;
}
.scroll_cont p {
    border-bottom: 1px solid #CCCCCC;
    padding: 10px 0;
}
.scroll_cont p strong {
    color: #5A84C9;
    padding: 0 0 10px;
}
.scroll_cont p a {
    color: #426EBA;
    text-decoration: underline;
}
.scroll_cont p a:hover {
    text-decoration: none;
}
.rspdstar {
    color: #990000;
    font-family: arial,helvetica,sans-serif;
    font-size: 13px;
    font-weight: bold;
}
.rspddef {
    color: #333333;
    font-family: arial,helvetica,sans-serif;
    font-size: 12px;
}
.rspdformlabelerror {
    color: #990000;
    font-family: arial,helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
}
.rspdsection {
    color: #000099;
    font-family: arial,helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
}
.rspdannotation {
    color: #999999;
    font-family: arial,helvetica,sans-serif;
    font-size: 10px;
}
.rspdsmall {
    color: #000000;
    font-family: arial,helvetica,sans-serif;
    font-size: 10px;
}
.rspdtitlesize {
    color: #000000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10pt;
    text-decoration: none;
}
.rspdborderdark {
    background-color: #DEE7FF;
    color: #000000;
    font-family: arial,helvetica,sans-serif;
    font-size: 12px;
}
.rspdtitle2 {
    color: #5181A9;
    font-family: arial,helvetica,sans-serif;
    font-size: 20px;
    font-weight: bold;
}
.rspdtitle {
    color: #427BBD;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12pt;
    font-weight: bold;
    height: 20px;
    vertical-align: middle;
}
#container {
    float: left;
    padding: 14px 0 0 26px;
    width: 940px;
}
.loginlink {
    color: #047BA6;
}
.blue_text {
    color: #057AAB;
}
.orange_text {
    color: #946404;
}
