<center>
	<form style='min-height:500px' action="http://search.investmentprotectionbureau.org/users/new?" method="get">
	<div class="search" style='padding-top:15%'>
		<label for="mod-search-searchword"><h1>Please Enter Your Zip Code</h1></label><input name="user[zip]" id="mod-search-searchword" maxlength="20"  class="inputbox" type="text" size="45" value="Enter Your Zipcode"  onblur="if (this.value=='') this.value='Enter Your Zipcode';" onfocus="if (this.value=='Enter Your Zipcode') this.value='';" /><input type="submit" value="GO" class="button" onclick="this.form.searchword.focus();"/>	<input type="hidden" name="task" value="search" />
	<input type="hidden" name="option" value="com_search" />
	<input type="hidden" name="Itemid" value="306" />
	</div>
	</form>
</center>