<p>Welcome <%= @email %>!</p>

<p>You have successfully registered at http://investmentprotectionbureau.org/</p>

<p>Please click <%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %> to confirm your account</p>
