<style>
body
{
  background-color: #343434;
  margin: 0px 0px 0px 0px;
  height: 20px;
}

.digit
{
  font-size:20px;
  background-image: url('/assets/counter.gif');
  color: #cccccc;
  font-weight:bold;
  width: 40px;
  height: 20px;
  margin: 5px -5px 0px 0px;
  padding: 7px 6px 5px 6px;
}

</style>
<link href='http://fonts.googleapis.com/css?family=Gravitas+One' rel='stylesheet' type='text/css'>
<body>
<% @counter.count.to_s.split('').each do |char| %>
<span class=digit><%= char %></span>
<% end %>
</body>