<p>Welcome <%= @email %>!</p>

<p>You have successfully registered at invesmentprotectionbureau.com</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
