<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB" lang="en-GB"
>
<head>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %> 
  <title>IPB - Investment Protection Bureau</title>
</head>
<body >
  <html>
  <%= yield %>
</html>